.dates {
    margin-top:25px;
}
.dates a {
    color:#777;
    margin-right:15px;
}
.dates a:hover {
    color:#444;
}
.stats_table {
    margin:0px;
    padding:0px;
    margin-top:25px;
    border-collapse:collapse;
    font-size:13px;
}
.stats_table tr {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.stats_table tr th {
    padding:5px 15px;
}
.stats_table tr th.sort_by {
    cursor:pointer;
}
.stats_table tr.thead th.sort_by span.sort {
    display:none;
    margin-left:5px;
}
.stats_table tr.thead th.sort_by.desc span.sort.desc {
    display:inline;
}
.stats_table tr.thead th.sort_by.asc span.sort.asc {
    display:inline;
}
.stats_table tr td {
    padding:10px 15px;
}
.column_description_header {
    margin-top:50px;
    font-size:17px;
}
.column_description {
    margin:0px;
    padding:0px;
    border-collapse:collapse;
    font-size:14px;
}
.column_description tr th {
    padding:5px 15px;
    font-size:13px;
    font-weight:normal;
    border-bottom:1px solid #aaa;
    text-align:left;
}
.column_description tr td {
    padding:5px 15px;
}
.column_description tr td.name {
    font-size:15px;
    font-weight:bold;
}
.column_description tr td.desc {
    font-style:italic;
}
