{% extends "base.html" %}
{% block header %}
<link href='/static/css/stats.css' rel='stylesheet' type='text/css' />
{% endblock %}
{% block contents %}
    <div class='subtitle'>기록 통계</div>
    <div class='description'>대국 기록에 대한 통계를 확인할 수 있습니다.</div>
    <div class='dates'>
        <div class='description' style='margin-bottom:10px;'>검색 범위</div>
        <a href='/stats?year=all'>전체</a>
        {% for year in date_range.items %}
            {% for month in year.1 %}
            <a href='/stats?year={{ year.0 }}&month={{ month }}'>{{ year.0 }}년 {{ month }}월</a>
            {% endfor %}
        {% endfor %}
    </div>
    {% if stats %}
    {% else %}
    <div style='padding:20px 0px;font-size:25px;'>기록이 없네요...</div>
    {% endif %}
{% endblock %}
