<html>
    <head>
         <link rel="shortcut icon" href="/static/favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>마작 통계 서비스</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type='text/javascript'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type='text/javascript'></script>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
        <link href='/static/css/base.css' rel='stylesheet' type='text/css' />
        {% block header %}{% endblock %}
    </head>
    <body>
        <div id='Container'>
            <div class='title'>
                <h1>마작 통계 서비스</h1>
            </div>
            {% if user.is_authenticated %}
            <div class='menu'>{% include "base/menu.html" %}</div>
            {% endif %}
            <div class='contents'>
                {% block contents %}{% endblock %}
            </div>
            <div class='footer'><span class='footer-item'>noraesae@yuiazu.net</span><span class='footer-item'>powered by yuiazu.net</span><a class='footer-item' href='https://github.com/noraesae/mahjong-statics'>hosted by github</a></div>
        </div>
        {% block additional %}{% endblock %}
    </body>
</html>
